<form {{on "submit" this.createComment}}>
  <div class="form-group">
    <label for="rating-select">Rating</label>
    <select
      class="form-control {{if this.validations.errors.rating "is-invalid"}}"
      id="rating-select"
      data-test-new-comment-rating-input
      {{on "change" this.ratingChanged}}
      {{on "blur" (fn this.validateField "rating")}}
    >
      <option></option>
      {{#each this.ratingOptions as |rating|}}
        <option value={{rating.value}} selected={{rating.selected}}>{{rating.label}}</option>
      {{/each}}
    </select>
    {{#each this.validations.errors.rating as |error|}}
      <span class="invalid-feedback" data-test-new-comment-rating-error>{{error}}</span>
    {{/each}}
  </div>
  <div class="form-group">
    <label for="text-input">Text</label>
    <input
      type="text"
      class="form-control {{if this.validations.errors.text "is-invalid"}}"
      id="text-input"
      rows="3"
      value={{this.text}}
      data-test-new-comment-text-input
      {{on "change" this.textChanged}}
      {{on "blur" (fn this.validateField "text")}}
    >
    {{#each this.validations.errors.text as |error|}}
      <span class="invalid-feedback" data-test-new-comment-text-error>{{error}}</span>
    {{/each}}
  </div>
  <button type="submit" class="btn btn-primary" disabled={{this.submitDisabled}} data-test-new-comment-submit>Save</button>
</form>
